@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

body {
  margin: 0;
  height: 97vh;
  background-color: rgb(212, 212, 212);
  background-image: url(./images/background-image.png);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Tektur', cursive;
}
button{
  cursor: pointer;
}

.intro-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-item {
  margin: 5% 0; 
}
#createButton {
  background-color: aqua;
  border: none;
  font-family: 'Tektur', cursive;
  font-size: x-large;
  font-weight: 900;
  border-radius: 15%;
  padding: 15px;
}

#createButton:hover {
  background-color: rgb(0, 155, 155);
}

#errorEmpty{
  color: red;
}


.animal-wrap {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.animal-wrap-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 90%;
}

.each-bar-wrap {
  display: flex;
}

.animal-img-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 22vh;
  margin: 0;
}

img {
    min-width: 10vw;
    max-width: 16%;
    margin: 0;
}

.bar-wrap {
    width: 30%;
    margin: 2% 5% 2% 5%;
}

.bar-text{
  min-width: 20%;
  text-align: center;
}


#catWrap {
    width: 100%;
    
}

.cat-health {
    width: 100%;
    background-color: grey;
    margin: 20px;
  }
  
  #catHealthBar {
    width: 100%;
    height: 20px;
    background-color: rgb(255, 0, 0);
  }

  #catHungerBar {
    width: 100%;
    height: 20px;
    background-color: rgb(0, 60, 255);
  }

  #catThirstBar {
    width: 100%;
    height: 20px;
    background-color: rgb(0, 255, 0);
  }

  #catContentBar {
    width: 100%;
    height: 20px;
    background-color: rgb(255, 0, 195);
  }


  
/* Dog below */

#dogWrap {
    width: 100%;
    
}

  .dog-health {
    width: 100%;
    background-color: grey;
    margin: 20px;
  }
  
  #dogHealthBar {
    width: 100%;
    height: 20px;
    background-color: rgb(255, 0, 0);
  }

  #dogHungerBar {
    width: 100%;
    height: 20px;
    background-color: rgb(0, 60, 255);
  }

  #dogThirstBar {
    width: 100%;
    height: 20px;
    background-color: rgb(0, 255, 0);
  }

  #dogHappyBar {
    width: 100%;
    height: 20px;
    background-color: rgb(255, 0, 195);
  }

  /* Hamster below*/

  #hamsterWrap {
    width: 100%;
    
}

  .hamster-health {
    width: 100%;
    background-color: grey;
    margin: 20px;
  }
  
  #hamsterHealthBar {
    width: 100%;
    height: 20px;
    background-color: rgb(255, 0, 0);
  }

  #hamsterHungerBar {
    width: 100%;
    height: 20px;
    background-color: rgb(0, 60, 255);
  }

  #hamsterThirstBar {
    width: 100%;
    height: 20px;
    background-color: rgb(0, 255, 0);
  }

  #hamsterExerciseBar {
    width: 100%;
    height: 20px;
    background-color: rgb(255, 0, 195);
  }

 .percent {
    color: white;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }

.interact-button{
  font-size: larger;
  font-family: 'Tektur', cursive;
}

.endGameWrap {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 5% 6%;
  background-color: rgba(0, 0, 0, 0.866);
  background-image: url(./images/wasted-img.jpg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

#restartButton{
  font-size: x-large;
  font-family: 'Tektur', cursive;
  padding: 0 5%;
}

.hidden {
    display: none;
}