.hidden {
    display: none;
}



img {
    max-width: 100px;
}

.bar-wrap {
    width: 25%
}


#catWrap {
    width: 100%;
    
}

.cat-health {
    width: 100%;
    background-color: grey;
    margin: 20px;
  }
  
  #catHealthBar {
    width: 100%;
    height: 30px;
    background-color: rgb(255, 0, 0);
  }

  #catHungerBar {
    width: 100%;
    height: 30px;
    background-color: rgb(0, 60, 255);
  }

  #catThirstBar {
    width: 100%;
    height: 30px;
    background-color: rgb(0, 255, 0);
  }

  #catContentBar {
    width: 100%;
    height: 30px;
    background-color: rgb(255, 0, 195);
  }


/* Dog below */

#dogWrap {
    width: 100%;
    
}

  .dog-health {
    width: 100%;
    background-color: grey;
    margin: 20px;
  }
  
  #dogHealthBar {
    width: 100%;
    height: 30px;
    background-color: rgb(255, 0, 0);
  }

  #dogHungerBar {
    width: 100%;
    height: 30px;
    background-color: rgb(0, 60, 255);
  }

  #dogThirstBar {
    width: 100%;
    height: 30px;
    background-color: rgb(0, 255, 0);
  }

  #dogHappyBar {
    width: 100%;
    height: 30px;
    background-color: rgb(255, 0, 195);
  }

  body{
    display: flex;
    justify-content: center;
}